
<p> 
	<input placeholder ="Type to search..." type="text"  ng-model="searchFor"  size="30" />
</p>
<p> There are {{albumNames.length}} albums available to view:
</p>
<div class="album panel panel-primary" ng-repeat="album  in albumNames | filter:{title: searchFor} | orderBy:'date' "> 
	
	<div class="panel-heading"> 
		<div style="float:right"> 
			{{album.date}}
		</div>
		{{album.title  }}   
	</div> 	

	<div class="description"> {{album.describtion }}
	</div>

</div>

<div style="clear:left">

</div>

<h3> Add new album
</h3>
<div class="album panel panel-default"> 
	<form name="add_album_form" novalidate>
		<div class="panel-heading"> 
			<div class="alert alert-danger"  ng-show="add_album_error">
				{{add_album_error}}
			</div>
			<input ng-required="true" type="text" placeholder="Title..." size="15" ng-model="adding_album.title" />	
			<div style="float:right">
				<input name="date" ng-required="true" ng-minlength="10" type="text" placeholder="dd.mm.yyyy" size="10" ng-model="adding_album.date" />
			</div>

		</div> 	

		<div class="description"> 
			<p> 
				<textarea ng-required="true" ng-model="adding_album.describtion"  placeholder="Description..." rows="4" style="width:100%"> 
				</textarea>
			</p>
			<p>
				<input  ng-required="true" type="text" ng-model="adding_album.name"  placeholder="Album Name..."style="width:100%">
			</p>

			<p>
				<button ng-click="addAlbum(adding_album)"  type="button" class="btn btn-success">
					Add New Album 
				</button>
			</p>
		</div>

	</form>

</div>



