<html ng-app>


<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body style = "padding: 50px">
	<div   ng-init="albumNames=[
	{name:'Madrid',title:'Weekend in Madrid',date:'2014'},
	{name:'London',title:'Weekend in London',date:'2013'},
	{name:'Berlin',title:'Weekend in Berlin',date:'2011'},
	{name:'Bkk',title:'Weekend in Bkk',date:'2012'},
	{name:'Paris',title:'Weekend in Paris',date:'2014'}

	]"> 
	<p> There are {{albumNames.length}} albums available to view:</p>
	<p> 
	<input type="text"  ng-model="searchFor"  size="30" />
	</p>
	<ul>
		<li ng-repeat="album  in albumNames | filter:searchFor | orderBy:'date' ">  
		 {{album.title  }} ({{album.date}}) 
		
		<!--
		<ul>
			<li ng-repeat="(key,value) in album">
			<strong> {{key}}</strong> ={{value}}
			</li>
		</ul>
		-->

		</li>

	</ul>

	</div>



</body>
</html>